# Multi-Index Hierarchy

Letus go  over how to work with Multi-Index,first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [7]:
import pandas as pd
import numpy as np
#index Levels

outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]

In [8]:
hier_index=list(zip(outside,inside))

In [13]:
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [14]:
print(hier_index)

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [15]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [16]:
df

             A         B
G1 1 -0.029523  1.251330
   2  0.133327 -0.614788
   3  0.101073  0.743086
G2 1  0.763948 -1.053056
   2  0.164049 -1.582168
   3  0.579426 -0.147332

#### Now let's show how to index this!For index hierarchy we use df.loc[],if this was on the coumns axis,you would just use normal bracket notation df[].
Calling one level of the index returns the sub-dataframe:

In [17]:
df.loc['G1']

          A         B
1 -0.029523  1.251330
2  0.133327 -0.614788
3  0.101073  0.743086

In [18]:
df.loc['G2']

          A         B
1  0.763948 -1.053056
2  0.164049 -1.582168
3  0.579426 -0.147332

In [19]:
df.loc['G1'].loc[1]

A   -0.029523
B    1.251330
Name: 1, dtype: float64

In [20]:
df.index.names

FrozenList([None, None])

In [21]:
df.index.names=['Group','Num']

In [22]:
df

                  A         B
Group Num
G1    1   -0.029523  1.251330
      2    0.133327 -0.614788
      3    0.101073  0.743086
G2    1    0.763948 -1.053056
      2    0.164049 -1.582168
      3    0.579426 -0.147332

In [23]:
# axis can be used to get value

In [24]:
df.xs('G1')

            A         B
Num
1   -0.029523  1.251330
2    0.133327 -0.614788
3    0.101073  0.743086

In [25]:
# we can do in 2 ways 
#df.loc['G1'].loc[1]

df.xs(['G1',1])

A   -0.029523
B    1.251330
Name: (G1, 1), dtype: float64

In [26]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.029523  1.251330
G2     0.763948 -1.053056